@media screen and (max-width: 500px) {
    main {
      height: calc(100vh - 75px) !important;
    }
  }

h1 {
  font-size: 35px;
  font-family: 'Handlee', cursive;
  position: relative;
color:rgb(37, 78, 131);
}
